<div class="container">
    <h1>O ovoj aplikaciji</h1>
    <p>Ovo je osnovna aplikacija za popis za kupovinu koja pomaže korisnicima da učinkovito upravljaju svojim artiklima za kupovinu.</p>
    <p>Omogućuje vam dodavanje, uređivanje i brisanje artikala, kreiranje popisa za kupovinu te upravljanje popisom na više uređaja koristeći Firebase.</p>
    <p>Razvijena u Angularu s korištenjem samostalnih komponenti, dizajnirana je tako da bude jednostavna i laka za korištenje u svakodnevnim zadacima kupovine.</p>
</div>

