<div class="container mt-4">
    <div class="input-group mb-3 flex-column">
        <div class="row g-2">
            <div class="col">
                <button class="btn btn-outline-secondary w-100" type="button" (click)="addNewItem()">Novi artikal</button>
            </div>
            <div class="col">
                <button class="btn btn-outline-secondary w-100" type="button" (click)="refresh()">Osvježi</button>
            </div>
        </div>



        <!-- Switches in one line -->
        <div class="d-flex justify-content-between">
            <!-- Second Switch -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="itemsListSwitch" (change)="toggleAllItemsList()">
                <label class="form-check-label" for="itemsListSwitch">Lista artikala</label>
            </div>

            <!-- Third Switch -->
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="shoppingListSwitch" (change)="toggleShoppingItemsList()">
                <label class="form-check-label" for="shoppingListSwitch">Popis za kupovinu</label>
            </div>
        </div>
    </div>


    <div class="accordion" id="categoryAccordion" *ngIf="showItemsList && allItems">
        <!-- Accordion (Product List) -->
        <div class="accordion-item" *ngFor="let category of categories; let i = index">
            <h2 class="accordion-header" [id]="'heading-' + getSafeCategoryId(category)">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse-' + getSafeCategoryId(category)"
                        aria-expanded="false"
                        [attr.aria-controls]="'collapse-' + getSafeCategoryId(category)">
                    {{ category }}
                </button>
            </h2>
            <div [id]="'collapse-' + getSafeCategoryId(category)" class="accordion-collapse collapse"
                 [attr.data-bs-parent]="'#categoryAccordion'">
                <div class="accordion-body custom-accordion-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of getItemsByCategory(category)">
                            <span class="text-truncate" style="max-width: 70%;">
                                {{ item.name }} - {{ item.quantity }}
                                <span *ngIf="item.description.length > 20">{{ item.description | slice:0:20 }}...</span>
                                <span *ngIf="item.description.length <= 20">{{ item.description }}</span>
                            </span>
                            <div class="icon-container ms-auto">
                                <i class="fas fa-plus-circle fa-lg me-2 icon-click-effect" (click)="addItemToSelectedList(item)"></i>
                                <i class="fas fa-pencil-alt fa-lg me-2 icon-click-effect" (click)="openModalShoppingItem(item, true)"></i>
                                <i class="fas fa-trash-alt fa-lg icon-click-effect" (click)="deleteItem(item.id)"></i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="showCart && shoppingListItems && shoppingListItems.length > 0">
        <h3>Popis za kupovinu</h3>
        <div *ngFor="let category of categories">
            <!-- Filter the shopping list items by category -->
            <ng-container *ngIf="getShoppingListItemsByCategory(category).length > 0">
                <hr>
                <h4>{{ category }}</h4>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let shoppingListItem of getShoppingListItemsByCategory(category)">
                    <span class="text-truncate" style="max-width: 70%;">
                        {{ shoppingListItem.name }} - {{ shoppingListItem.quantity }}
                        <span *ngIf="shoppingListItem.description.length > 20">{{ shoppingListItem.description | slice:0:20 }}...</span>
                        <span *ngIf="shoppingListItem.description.length <= 20">{{ shoppingListItem.description }}</span>
                    </span>
                        <div class="icon-container ms-auto">
                            <i class="fas fa-pencil-alt fa-lg me-2 icon-click-effect" (click)="openModalSelectedItem(shoppingListItem, true)" style="cursor: pointer;"></i>
                            <i class="fas fa-minus-circle fa-lg icon-click-effect" (click)="removeItemFromSelectedList(shoppingListItem)" style="cursor: pointer;"></i>
                        </div>
                    </li>
                </ul>
            </ng-container>
        </div>
    </div>



    <app-item-modal #modalShoppingListItem (updateCompleted)="getAllItems()">
        <p>This is the content inside the modal!</p>
    </app-item-modal>
    <app-item-modal #modalSelectedItem [title]="'Uredi odabrani artikal'" (updateCompleted)="getShoppingListItems()">
        <p>This is the content inside the modal!</p>
    </app-item-modal>
</div>
